<section class="about-us" id="about-us">
  <h1 id="story">Our story</h1>
  <div class="about-us-section-2">
    <div class="w-fit">
      <div class="story">
        <img class="story--img" src="/assets/img/gg.png" alt="">
        <p class="story--content">
          Go-Groups Ltd is one of the leading Software Companies in Silicon Mountain, Buea Cameroon. She was founded in 2012 and registered in 2014 with their head office in Buea.
        </p>
        <p class="story--content">
          Go-Groups Ltd provides Software as a Service (SaaS) and are known to be the best solution provider when it comes to the management and operation of Higher Institutions and Universities. We are a Valued Added Service (VAS) Provider to MTN Mobile Money Cameroon, Orange Money Cameroon, UBA Bank Visa Services.
        </p>
        <p class="story--content">
          Go-Groups Ltd has built on applications in the transport, e-commerce, taxation and academic sectors. Go-Student being our main product has recorded a lot of Success in some leading Universities and Higher Institutions in Africa.
        </p>
      </div>
      <div class="visions-missions">
        <section class="section">
          <div class="section--content">
            <h3 class="section--heading">{{"our_mission" | translate}}</h3>
            <p class="section--text">{{"mission_desc" | translate}}</p>
          </div>
          <img class="section--img" src="/assets/img/staff.jpeg" alt="">
        </section>

        <section class="section section-reverse">
          <div class="section--content">
            <h3 class="section--heading">{{"our_vision" | translate}}</h3>
            <p class="section--text">{{"vision_desc" | translate}}</p>
          </div>
          <img class="section--img" src="/assets/img/staff.jpeg" alt="">
        </section>
      </div>
    </div>
  </div>
</section>
